body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color:rgb(100, 97, 97);
    font-size: 0;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style-type: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

img {
    width: 175px;
    height: auto;
    padding-top: 10px;
}

h1 {
    text-align: center;
    padding-top: 20px;
    margin: 0;
}

h3 {
    font-style: italic;
    text-align: center;
}

.hero {
    background: url(../img/backgroundTruckImg.jpg);
    background-size: cover;
    height: 100vh;
}

a {
    text-decoration-thickness: 5px;
}

a:hover {
    cursor: pointer;
}

.footer {
    background-color:rgb(100, 97, 97);
    font-weight: 200;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4 {
    color: white;
    letter-spacing: 2px;
    width: 500px;
    z-index: 1;
}

.bottom-logo {
    position: absolute;
    right: 50%;
    opacity: 30%;
}